{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://fluidtypo3.org/schemas/fluid-master.xsd"
     xmlns:v="http://fluidtypo3.org/schemas/vhs-master.xsd">

    <f:layout name="Default" />

    <f:section name="main">

        <v:var.set name="form" value="addForm" />
        <v:var.set name="action" value="add" />

        <h3>Table: tx_gjoskeleton_domain_model_skeleton</h3>

        <f:render partial="FormErrors" arguments="{form:'{form}'}" />

        <f:form action="{action}" name="{form}" class="form-horizontal" additionalAttributes="{role: 'form'}">

            <f:render partial="FormFields/StringWithoutBreak" arguments="{form:'{form}'}" />

            <f:form.submit value="Add DataType Example"/>

        </f:form>

    </f:section>

</div>


