<f:layout name="Default"/>

<f:section name="main">

    <table class="table table-hover">

        <thead>
        <tr class="warning">
            <td colspan="6">Table: tx_gjoexdatatypes_domain_model_datatype ({dataTypes -> f:count()})</td>
        </tr>
        <tr>
            <th><f:link.action action="addForm"><span class="glyphicon glyphicon-plus"></span></f:link.action>
            </th>
            <th>UID
            </th>
            <th>Label: stringWithoutBreak
            </th>
            <th>Detail
            </th>
            <th>Update
            </th>
            <th>Remove
            </th>
        </tr>
        </thead>

        <tbody>
        <f:for each="{dataTypes}" as="dataTypeValue">
            <tr>
                <td>
                </td>
                <td>
                    {dataTypeValue.uid}
                </td>
                <td>
                    {dataTypeValue.stringWithoutBreak}
                </td>
                <td>
                    <f:link.action action="show" arguments="{dataType : dataTypeValue}"><span class="glyphicon glyphicon-info-sign"></span></f:link.action>
                </td>
                <td>
                    <f:link.action action="updateForm" arguments="{dataType : dataTypeValue}"><span class="glyphicon glyphicon-pencil"></span></f:link.action>
                </td>
                <td>
                    <f:link.action action="remove" arguments="{dataType : dataTypeValue}"><span class="glyphicon glyphicon-trash"></span></f:link.action>
                </td>
            </tr>
        </f:for>
        </tbody>

    </table>

</f:section>